extends ../layout

block content 
    
    div 
        h1 Books
        div.flex-container
            a.button(href='/books/new-book') Create New Book 
            form(action='#', method='get')
                input.search-input(type='search', name='search', placeholder='Search...', value=search)
                input.search-submit(type='submit', value="search")
        br

    if books.length == 0
        h3 Oh no! Looks there are no results. Please try another search.
        br
        p
        a.button(href='/books') Home
    else

        table
            thead
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
            tbody
                each book in books 
                    tr
                        td
                            a(href="/books/" + book.id)= book.title
                        td= book.author
                        td= book.genre
                        td= book.year

        div.pagination
            ul.flex-container 
                form(method="get" action=`/books`)
                    if search
                        input(type="hidden" name="search" value=search)
                    each _, i in Array(numberOfPages)
                        li
                            if i+1 == pageNum
                                button.active(type='submit' name='page' value=`${i+1}`)= i+1
                            else
                                button(type='submit' name='page' value=`${i+1}`)= i+1

